In [1]:
import numpy as np
import pandas as pd
from sklearn import preprocessing
import xgboost as xgb
import lightgbm as lgb
import pickle

In [2]:
train = pickle.load(open('train.p', 'rb'))
train.head()

,building_id,meter,timestamp,primary_use,square_feet,year_built,air_temperature,cloud_coverage,dew_temperature,hour,day,weekend,month
0,0,0,2016-01-01,0,7432,2008.0,25.0,6.0,20.0,0,1,4,1
1,1,0,2016-01-01,0,2720,2004.0,25.0,6.0,20.0,0,1,4,1
2,2,0,2016-01-01,0,5376,1991.0,25.0,6.0,20.0,0,1,4,1
3,3,0,2016-01-01,0,23685,2002.0,25.0,6.0,20.0,0,1,4,1
4,4,0,2016-01-01,0,116607,1975.0,25.0,6.0,20.0,0,1,4,1